@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
}

:root{
    --dark-gunmetal: #232129;
    --deep-indigo: #3D218b;
    --eletric-violet: #5c27ed;
    --pale-lavander: #b89eff;
    --ghost-white: #f8f7fc;

    --bg-color: var(--ghost-white);
    --text-color: var(--dark-gunmetal);
    --text-hover: var(--eletric-violet);
}


body.dark-mode{
    --bg-color: var(--dark-gunmetal);
    --text-color: var(--ghost-white);
    --text-hover: var(--pale-lavander);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--text-color);
    max-width: 90rem;
    margin: 0 auto;
}

header .logo{
    width: 15rem;
}

header .logo img{
    width: 100%;
    height: auto;
}

header nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .menu-list{
    display: flex;
    gap: 1rem;
}

header .menu-container{
    display: flex;
    gap: 2rem;
}

header .menu-item{
    list-style: none;
}

header .menu-link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

header .menu-link:hover{
    color: var(--text-hover);
}

.theme-switch{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.theme-switch input[type="checkbox"]{
    display: none;
}

.theme-switch span{
    display: inline-block;
    width: 56px;
    height: 32px;
    background-color: var(--pale-lavander);
    border-radius: 16px;
    position: relative;
    transition: left 0.3s ease;
    box-shadow: inset 0 0 4px 0px var(--deep-indigo);
}

.theme-switch span::before{
    content: "\263C";
    color: var(--ghost-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--deep-indigo);
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: left 0.3s ease;
}

.theme-switch input[type="checkbox"]:checked + span::before{
    content: "\263E";
    left: 28px;
    background-color: var(--ghost-white);
    color: var(--deep-indigo);
    align-items: start;
    transform: rotate(-20deg);

}

.theme-switch input[type="checkbox"]:checked + span{
    background-color: var(--deep-indigo);
    box-shadow: inset 0 0 4px 0px var(--dark-gunmetal);
}


