footer {
    background-color: var(--dark-gunmetal);
    color: var(--white);
    padding: 4rem 2rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.footer-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer-content .logo img {
    height: 100px;
}
